.soundBoardButtons {
	margin-left: 24%;
	margin-top: 3%;
}

.soundBoardButtons div {
    display: block;
    float: left;
    height: 110px;
    width: 170px;
    margin-right: 20px;
    background-image: url(file:///Users/ibrahimitani/Desktop/Websites/Sound%20Board/img/button.png);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.tab {
	margin-left: 5px; 
}

